body {
  margin: 0;
  padding: 0;
  --scribble: "Gloria Hallelujah", sans-serif;
  --monospace: "Source code pro", monospace;
  font-family: var(--scribble);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
