body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Gloria Hallelujah", sans-serif;
  --theme-font: "Gloria Hallelujah", sans-serif;
  --code-font: "Gloria Hallelujah", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: var(--theme-font);
  text-align: center;
  font-size: 4rem;
  margin: 1rem 0;
  -webkit-app-region: drag;
}

.port-input {
  border: none;
  font-family: var(--theme-font);
  font-size: 1rem;
}

main {
  flex: 1;
  padding: 1rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

textarea {
  background-color: transparent;
  /* padding: 1rem; */
  display: flex;
  border: none;
  font-family: var(--code-font);
  font-size: 1rem;
  width: 100%;
  height: 100%;
  resize: none;
  letter-spacing: 1px;
}

textarea:focus {
  outline: none;
}

.message {
  font-family: "Source code pro", monospace;
  font-size: 12px;
  width: 100%;
  text-align: right;
}

.delay-input {
  border: none;
  background-color: transparent;
}

table {
  background-color: #f9f9f9;
  border-collapse: collapse;
  width: 100%;
  font-family: "Source code pro", monospace;
  font-size: 1rem;
}

button {
  background-color: transparent;
  border: none;
}

#mock-wrapper {
  flex: 1;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.highlight {
  color: #fc5c7d;
}

.art {
  width: 240px;
  -webkit-app-region: drag;
}
/* Settings */

.settings {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0 1rem;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.settings i {
  color: #e9e9e9;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.settings i:hover {
  color: #000;
}

#settings-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 2rem;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

input {
  background-color: #ffffff33;
  color: #ffffff;
  font-family: var(--theme-font);
  font-size: 1rem;
  border: none;
  margin: 5px 0;
}

.restart-button {
  background-color: #ffffff;
  box-shadow: 3px 3px 0 0px #f0f0f0;
  padding: 7px 10px;
  font-size: 1rem;
  font-family: var(--theme-font);
}

.restart-button:hover {
  background-color: #00ff00;
  box-shadow: 3px 3px 0 0px #ffff00;
  cursor: pointer;
}

.top-drag-area {
  height: 22px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-app-region: drag;
}

.top-drag-area:hover {
  background-color: #efefef;
}

.top-drag-area:active {
  background-color: #e8e8e8;
}
